body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.quiz-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    text-align: center;
}

.question-container {
    margin-bottom: 20px;
}

.options {
    list-style-type: none;
    padding: 0;
}

.options li{
    margin-botton: 10px;
}

#submit-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.result-container {
    display: none;
    margin-top: 20px;
}

.progress-bar {
    background-color: #ddd;
    height: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    overflow: hidden;
}

.progress {
    width: 0;
    height: 100%;
    background-color: #007bff;
    transition: width 0.5s ease-in-out;
}